<h1>Listing weekbgs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weekbgs.each do |weekbg| %>
  <tr>
    <td><%= link_to 'Show', weekbg %></td>
    <td><%= link_to 'Edit', edit_weekbg_path(weekbg) %></td>
    <td><%= link_to 'Destroy', weekbg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weekbg', new_weekbg_path %>
