<p id="notice"><%= notice %></p>

<p>
  <b>Classname:</b>
  <%= @schoolclass.classname %>
</p>


<%= link_to 'Edit', edit_schoolclass_path(@schoolclass) %> |
<%= link_to 'Back', schoolclasses_path %>
